.itemExternalLinks a[href*="https://search.worldcat.org"]::before {
	content: "";
	display: inline-block;
	width: 70px;
	height: 25px;
	background-image: url('https://i.imgur.com/46PjB7w.png');
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: 5px;
	vertical-align: middle;
}

.itemExternalLinks a[href*="https://search.worldcat.org"] {
	font-size: 0;

}

.itemExternalLinks a[href*="https://books.google.com"]::before {
	content: "";
	display: inline-block;
	width: 25px;
	height: 25px;
	background-image: url('https://i.imgur.com/LngYWt0.png');
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: 5px;
	vertical-align: middle;
}

.itemExternalLinks a[href*="https://books.google.com"] {
	font-size: 0;

}

.itemExternalLinks a[href*="https://comicvine.gamespot.com"]::before {
	content: "";
	display: inline-block;
	width: 50px;
	height: 25px;
	background-image: url('https://i.imgur.com/tzDrBjj.png');
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: 5px;
	vertical-align: middle;
}

.itemExternalLinks a[href*="https://comicvine.gamespot.com"] {
	font-size: 0;

}

.itemExternalLinks a[href*="anisearch.com"]::before {
	content: "";
	display: inline-block;
	width: 60px;
	height: 30px;
	background-image: url('https://i.imgur.com/VB6ZZxD.png');
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: 5px;
	vertical-align: middle;
}

.itemExternalLinks a[href*="anisearch.com"] {
	font-size: 0;

}

.itemExternalLinks a[href*="tvlistings.zap2it.com"]::before {
	content: "";
	display: inline-block;
	width: 25px;
	height: 25px;
	background-image: url('https://i.imgur.com/cQ0J02Q.png');
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: 5px;
	vertical-align: middle;
}

.itemExternalLinks a[href*="tvlistings.zap2it.com"] {
	font-size: 0;

}

.itemExternalLinks a[href*="imdb.com"]::before {
	content: "";
	display: inline-block;
	width: 50px;
	height: 25px;
	background-image: url('https://i.imgur.com/nzBtmaH.png');
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: 5px;
	vertical-align: middle;
}

.itemExternalLinks a[href*="imdb.com"] {
	font-size: 0;
}

.itemExternalLinks a[href*="trakt.tv"]::before {
	content: "";
	display: inline-block;
	width: 25px;
	height: 25px;
	background-image: url('https://i.imgur.com/UvX2k3Q.png');
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: 5px;
	vertical-align: middle;
}

.itemExternalLinks a[href*="trakt.tv"] {
	font-size: 0;
}

.itemExternalLinks a[href*="themoviedb.org"]::before {
	content: "";
	display: inline-block;
	width: 50px;
	height: 25px;
	background-image: url('https://i.imgur.com/sNjAjdN.png');
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: 5px;
	vertical-align: middle;
}

.itemExternalLinks a[href*="themoviedb.org"] {
	font-size: 0;
}

.itemExternalLinks a[href*="themoviedb.org/collection"]::before {
	content: "";
	display: inline-block;
	width: 100px;
	height: 25px;
	background-image: url('https://i.imgur.com/Vguav7a.png');
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: 5px;
	vertical-align: middle;
}

.itemExternalLinks a[href*="thetvdb.com"]::before {
	content: "";
	display: inline-block;
	width: 50px;
	height: 25px;
	background-image: url('https://i.imgur.com/47ra8fy.png');
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: 5px;
	vertical-align: middle;
}

.itemExternalLinks a[href*="thetvdb.com"] {
	font-size: 0;
}

.itemExternalLinks a[href*="tvmaze.com"]::before {
	content: "";
	display: inline-block;
	width: 80px;
	height: 25px;
	background-image: url('https://i.imgur.com/oWanwnL.png');
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: 5px;
	vertical-align: middle;
}

.itemExternalLinks a[href*="tvmaze.com"] {
	font-size: 0;
}

.itemExternalLinks a[href*="anidb.net"]::before {
	content: "";
	display: inline-block;
	width: 100px;
	height: 25px;
	background-image: url('https://i.imgur.com/e4IjVuD.png');
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: 5px;
	vertical-align: middle;
}

.itemExternalLinks a[href*="anidb.net"] {
	font-size: 0;
}

.itemExternalLinks a[href*="anilist.co"]::before {
	content: "";
	display: inline-block;
	width: 25px;
	height: 25px;
	background-image: url('https://i.imgur.com/BAd3Ica.png');
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: 5px;
	vertical-align: middle;
}

.itemExternalLinks a[href*="anilist.co"] {
	font-size: 0;
}

.itemExternalLinks a[href*="kitsu.io"]::before {
	content: "";
	display: inline-block;
	width: 70px;
	height: 25px;
	background-image: url('https://i.imgur.com/VgqjsIl.png');
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: 5px;
	vertical-align: middle;
}

.itemExternalLinks a[href*="kitsu.io"] {
	font-size: 0;
}

.itemExternalLinks a[href*="kinopoisk.ru"]::before {
	content: "";
	display: inline-block;
	width: 100px;
	height: 25px;
	background-image: url('https://i.imgur.com/RMRi9j8.png');
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: 5px;
	vertical-align: middle;
}

.itemExternalLinks a[href*="kinopoisk.ru"] {
	font-size: 0;
}

.itemExternalLinks a[href*="myanimelist.net"]::before {
	content: "";
	display: inline-block;
	width: 100px;
	height: 25px;
	background-image: url('https://i.imgur.com/DOuChLK.png');
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: 5px;
	vertical-align: middle;
}

.itemExternalLinks a[href*="myanimelist.net"] {
	font-size: 0;
}

.itemExternalLinks a[href*="shikimori.one"]::before {
	content: "";
	display: inline-block;
	width: 25px;
	height: 25px;
	background-image: url('https://i.imgur.com/aCyd35r.png');
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: 5px;
	vertical-align: middle;
}

.itemExternalLinks a[href*="shikimori.one"] {
	font-size: 0;
}

.itemExternalLinks a[href*="https://theporndb.net"]::before {
	content: "";
	display: inline-block;
	width: 80px;
	height: 25px;
	background-image: url('https://i.imgur.com/mbJqDL6.png');
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: 5px;
	vertical-align: middle;
}

.itemExternalLinks a[href*="https://theporndb.net"] {
	font-size: 0;
}

.itemExternalLinks a[href*="https://music.apple.com"]::before {
	content: "";
	display: inline-block;
	width: 100px;
	height: 25px;
	background-image: url('https://i.imgur.com/1Zg4eB7.png');
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: 5px;
	vertical-align: middle;
}

.itemExternalLinks a[href*="https://music.apple.com"] {
	font-size: 0;
}

.itemExternalLinks a[href*="https://www.discogs.com/artist"]::before {
	content: "";
	display: inline-block;
	width: 50px;
	height: 25px;
	background-image: url('https://i.imgur.com/WRRXPsM.png');
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: 5px;
	vertical-align: middle;
}

.itemExternalLinks a[href*="https://www.discogs.com/artist"] {
	font-size: 0;
}

.itemExternalLinks a[href*="https://imvdb.com"]::before {
	content: "";
	display: inline-block;
	width: 50px;
	height: 25px;
	background-image: url('https://i.imgur.com/Fmuy3zi.png');
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: 5px;
	vertical-align: middle;
}

.itemExternalLinks a[href*="https://imvdb.com"] {
	font-size: 0;
}

.itemExternalLinks a[href*="https://musicbrainz.org/artist"]::before {
	content: "";
	display: inline-block;
	width: 60px;
	height: 25px;
	background-image: url('https://i.imgur.com/hI730i7.png');
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: 5px;
	vertical-align: middle;
}

.itemExternalLinks a[href*="https://musicbrainz.org/artist"] {
	font-size: 0;
}

.itemExternalLinks a[href*="https://www.theaudiodb.com/artist"]::before {
	content: "";
	display: inline-block;
	width: 80px;
	height: 25px;
	background-image: url('https://i.imgur.com/BrytaRe.png');
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: 5px;
	vertical-align: middle;
}

.itemExternalLinks a[href*="https://www.theaudiodb.com/artist"] {
	font-size: 0;
}

.itemExternalLinks a[href*="https://vgmdb.net/artist"]::before {
	content: "";
	display: inline-block;
	width: 75px;
	height: 25px;
	background-image: url('https://i.imgur.com/tnDlrV0.png');
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: 5px;
	vertical-align: middle;
}

.itemExternalLinks a[href*="https://vgmdb.net/artist"] {
	font-size: 0;
}

.itemExternalLinks a[href*="https://vgmdb.net/album"]::before {
	content: "";
	display: inline-block;
	width: 75px;
	height: 25px;
	background-image: url('https://i.imgur.com/SjPQgf1.png');
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: 5px;
	vertical-align: middle;
}

.itemExternalLinks a[href*="https://vgmdb.net/album"] {
	font-size: 0;
}

.itemExternalLinks a[href*="https://www.theaudiodb.com/album"]::before {
	content: "";
	display: inline-block;
	width: 90px;
	height: 25px;
	background-image: url('https://i.imgur.com/GtB8hl9.png');
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: 5px;
	vertical-align: middle;
}

.itemExternalLinks a[href*="https://www.theaudiodb.com/album"] {
	font-size: 0;
}

.itemExternalLinks a[href*="https://musicbrainz.org/release-group/"]::before {
	content: "";
	display: inline-block;
	width: 60px;
	height: 25px;
	background-image: url('https://i.imgur.com/RWkCq97.png');
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: 5px;
	vertical-align: middle;
}

.itemExternalLinks a[href*="https://musicbrainz.org/release-group/"] {
	font-size: 0;
}

.itemExternalLinks a[href*="https://musicbrainz.org/release/"]::before {
	content: "";
	display: inline-block;
	width: 70px;
	height: 25px;
	background-image: url('https://i.imgur.com/fHRlQvP.png');
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: 5px;
	vertical-align: middle;
}

.itemExternalLinks a[href*="https://musicbrainz.org/release/"] {
	font-size: 0;
}

.itemExternalLinks a[href*="https://www.discogs.com/release"]::before {
	content: "";
	display: inline-block;
	width: 55px;
	height: 25px;
	background-image: url('https://i.imgur.com/qMKn18e.png');
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: 5px;
	vertical-align: middle;
}

.itemExternalLinks a[href*="https://www.discogs.com/release"] {
	font-size: 0;
}

.itemExternalLinks a[href*="https://www.discogs.com/master"]::before {
	content: "";
	display: inline-block;
	width: 55px;
	height: 25px;
	background-image: url('https://i.imgur.com/NPG7VWE.png');
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: 5px;
	vertical-align: middle;
}

.itemExternalLinks a[href*="https://www.discogs.com/master"] {
	font-size: 0;
}

.itemExternalLinks a[href*="https://movie.douban.com/subject"]::before {
	content: "";
	display: inline-block;
	width: 90px;
	height: 25px;
	background-image: url('https://i.imgur.com/rYbxLdC.png');
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: 5px;
	vertical-align: middle;
}

.itemExternalLinks a[href*="https://movie.douban.com/subject"] {
	font-size: 0;
}

.itemExternalLinks.focuscontainer-x {
	color: #000a;
}
